* {
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: large;
}

html,
body,
#page {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  color: whitesmoke;
}
#page {
  display: flex;
}
#body {
  width: 100%;
  overflow-y: auto;
}
hr {
  margin: 0.5rem 0;
  width: 100%;
  background-color: #999;
}
.title-container {
  margin-bottom: 0.3rem;
}
.title {
  font-size: larger;
  color: whitesmoke;
  font-weight: bold;
}

#sidepanel {
  box-sizing: border-box;
  min-width: 15rem;
  max-width: 15rem;
  background-color: #333;
  color: #999;
  font-size: small;
}

#tooltip {
  display: none;
  position: absolute;
  padding: 0.2rem;
  background-color: #555;
  color: #999;
  border-radius: 0.2rem;
  font-size: small;
  z-index: 15;
}

.editable:hover,
.selected {
  border: solid #2496ff 1px;
}

#panel-header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 0.1rem solid #777;
}

#layout-display-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.setting-container {
  padding: 0.3rem;
}

.setting-container:not(:last-child) {
  border-bottom: 0.1rem solid #777;
}

.setting-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button,
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 0.2rem;
  flex-grow: 1;
}

#other-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.pressed-button {
  background-color: #555;
  color: whitesmoke;
}

.button-container {
  border: 0.1rem solid #444;
  display: flex;
  background-color: #222;
  border-radius: 0.2rem;
  padding: 0.2rem;
  width: 100%;
}

#primary-display-settings {
  display: flex;
  gap: 0.5rem;
}

#secondary-display-settings {
  display: none;
  gap: 0.5rem;
  grid-template-columns: auto auto;
}

#flex-settings {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  width: 100%;
}

#wrap {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

#flex-direction-container .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

#flex-direction-container .button i {
  padding: 0;
}

#align {
  display: flex;
  gap: 0.3rem;
}

#align-box {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: auto auto auto;
  border-radius: 0.2rem;
  padding: 0.1rem;
  background-color: #222;
  border: 0.1rem solid #555;
}

#align-box .button {
  width: 1.7rem;
  height: 1.7rem;
}

.rect {
  width: 3px;
  height: 3px;
  background-color: #999;
}

#align-axis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.align-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 5rem;
  background-color: #555;
  border-radius: 0.2rem;
}

.button:hover,
.toggle:hover {
  color: whitesmoke;
}
.ui-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu-container {
  display: none;
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #444;
  color: #999;
  z-index: 10;
}

#wrap-options {
  width: 8rem;
}

#wrap-options .button {
  padding: 0.2rem;
  justify-content: space-between;
  text-align: right;
  gap: 0;
}

#align-horizontal {
  width: 9rem;
}

#align-vertical {
  width: 9rem;
}

.alignment-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#gap {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

#gap-settings {
  display: flex;
}

.gap-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 0.2rem;
}

.gap-setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

#gap-range {
  width: 50%;
}

.number-input {
  width: 2rem;
  padding: 0.2rem;
  border: 0.1rem solid #555;
  border-radius: 0.2rem;
  color: whitesmoke;
  background-color: #222;
}

#gap-unlocked {
  display: none;
}

input[type="range"] {
  height: 0.2rem;
  border-radius: 0%;
  appearance: none;
  background-color: #222;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.3rem;
  height: 0.7rem;
  background: whitesmoke;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 0.3rem;
  height: 0.7rem;
  background: whitesmoke;
  cursor: pointer;
}

.margin-container {
  background-color: #555;
}

.grid-setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 0.3rem;
}

#grid-layout-container {
  background-color: transparent;
  border: none;
}

#grid-columns,
#grid-rows {
  width: 4rem;
}

#more-grid-options {
  display: grid;
  grid-template-columns: auto auto;
}

.more-grid-option-container {
  display: flex;
}

#margin-text,
#padding-text {
  position: relative;
  top: 1rem;
}

#margin-container,
#padding-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 3fr auto;
  border-radius: 0.3rem;
  background-color: #444;
  overflow: hidden;
}

.spacing-filling-div,
.spacing-setting {
  padding: 0.5rem;
}

#padding-container {
  grid-template-columns: 1fr 2fr 1fr;
  border: 0.2rem solid #333;
  padding: 0;
}

#spacing-setting-ui {
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  top: 0.5rem;
  right: 0;
  padding: 0.3rem;
}

#spacing-range-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggle {
    flex-grow: 0;
  }
}

#spacing-value {
  width: 4rem;
}

#spacing-button-container {
  display: flex;
  gap: 0.2rem;
  .button {
    background-color: #555;
  }
}

#spacing-buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-grow: 1;
  gap: 0.2rem;
}
